[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sqlmodel = "*"
rich = "*"
loguru = "*"
xxhash = "*"
pandas = "*"
plotly = "*"
dash = "*"
jupyter-dash = "*"
dash-bootstrap-components = "*"
dash-bootstrap-templates = "*"
chart-studio = "*"
waitress = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
